body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: magenta;
    margin: 0;
    padding: 0;
}

.collapse{
    display: none;
}

nav{
    background: url('fondo.jpeg') center;
    background-repeat: no-repeat;
    background-size: 220%;
    color: white;
    width: 100%;
    
}

nav .mobile{
   display: none;
}

nav .mobile .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

nav .mobile .header .more button{
    border: none;
    background-color: mediumspringgreen;
    padding: 15px;
    border-radius: 30%;
    cursor: pointer;
}

nav .logo{
    max-width: 250px;
}

nav a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px 25px;
}

nav a:hover{
    color: black;
    background-color: rgb(0,195,255);
}

nav .desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav .desktop .primary,
nav .desktop .secundary{
    display:flex;
}

nav .desktop .secundary.mini{
  display: none;  
}

@media screen and (max-width:853px){
    nav .logo{
        min-width: 100px;
    }
    
    nav .secundary.full{
        display: none;
    }
    
    nav .secundary.mini{
        display: block !important;
        
    }
    
    nav .secundary.mini .submenu{
    background-color: black;
        position: absolute;
        display: none;
        width: 200px;
        right: 0;
    }
    
    .logros{
        display: flex;
        flex-direction: column;
    }
    nav .secundary.mini:hover .submenu{
        display: block;
        
    }
    
    
}

@media screen and (max-width:500px){
    nav .desktop{
        display:none;
    }
    
    nav .mobile{
        display: block;
    }
    
    main .presentation h2{
font-size: 10px;
}

  main .descripcion-mia{
        font-size: 10px;
    }
    
    main .presentation{
        width: 315px;
        height: 340px 0px;
    }
    
   
}

/* presentación */

main .presentation{
    height: 530px 2px;
    display: flex;
    background-color: #6afff5;
    border-radius: 4px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #000000;
    box-shadow: 2px #000000;
}
main .presentation img{
position: relative;
bottom: -5px;
border-radius: 50%;
align-self: center;
}

main .presentation h2{
text-align: center;
}

main .descripcion-mia{
font-size: 14px;
   font-family: sans-serif 'Montserrat';
   text-align: center;
}


/* especialidades */

.logros{
    display: flex;
}

.edit_ft h2{
    width: 200px;
    text-align: center;
    font-family: sans-serif, `Montserrat`;
}

.galeria {
background-color: #8098ff;
  height: calc( var(--h) + 3em);
  width: var(--w);
  margin:1em;
  border: 1px solid #555;
  border-radius: 15px;
  position: relative;
  display:inline-block;
}

.galeria img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: 13px;

  transition: opacity 3s;
}

.galeria input[type=radio] {
  position: relative;
  bottom: calc(-1 * var(--h) - 1.5em);
  left: .5em;
}

.galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
  opacity: 1;
}

main .logros .edit-video{
    width: 200px;
    
}

main .logros .edit-video h2{
    text-align: center;
}

main .logros .edit-video .youtube1{
    margin: 1em;
   /* position: relative;
    left: 30px;*/
}


/* Conctato */

footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

footer .button{
    width: 80px;
    height: 40px;
    border: 1px solid #00000;
    background-color: #404eff;
    border-radius: 4px;
    position: relative;
    left: 40%;
    right: 40%;
    bottom: -2px;
    position: relative;
    justify-content: space-between;
  align-content: center;
  text-align: center;
}

footer .autor-original{
    font-family: 'Montserrat';
    text-align: center;
}
.overlay{
    background:rgba(0,0,0,0,0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay.active{
visibility: visible;
}
.popup{
    background: white;
    box-shadow: 0 0 5px 0px rgba(0,0,0,0,0.3);
    border-radius: 3px;
    font-family:sens-serif,'Montserrat', 'Koulen';
    padding: 20px;
    text-align: center;
    width: 600px;
    
}

.popup .btn-cerrar-popup{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #bbbbb;
    transition: .2s ease all;
}

.popup .btn-cerrar-popup:hover{
    color: black;
}

.popup h3{
    font-family: 'Koulen';
    font-size: 50px;
    font-weight: 100px;
    margin-bottom: 10px;
    /*opacity: 0;*/
}

.popup h5{
    font-size: 15px;
    font-weight: 150px;
    margin-bottom: 40px;
    /*opacity: 0;*/
}

.popup form .contenedor-input{
    
}

.popup form .contenedor-input input{
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    line-height: 52px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #BBBBBB;
}

.popup form .btn-submit{
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: white;
    background: #4063ff;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serf;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
}

.popup form .btn-submit:hover{
background: #aab5ff;
}
